*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url('img/IMG-20251224-WA0010.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;        /* biar penuh layar */
    background-attachment: fixed;  /* INI KUNCINYA */
}

.wrapper{
    width: 600px;
    padding: 15px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    margin-block: 50px;
}

.profile .foto-profile{
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
}

.profile .username{
    font-size: 1.5rem;
    font-weight: 600;
}

.gambar{
    width: 100%;
    height: 300px;
    border: 6px solid white;
    margin-bottom: 50px;
    background-image: url('img/IMG-20251224-WA0010.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.link-tree{
    list-style-type: none;
    margin-block: 20px;
}

.link-tree li:not(:last-child){
    margin-bottom: 20px;
}

.link-tree a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    transition: all .3s ease;
}

.link-tree a:hover{
    transform: translateY(-10px);
    background-color: rgb(206, 203, 203);
}

.link-tree a .logo-link{
    width: 50px;
    height: 50px;
}

.link-tree a .link-name,
.link-name a .panah{
    font-size: 1.4rem;
    color: black;
}